// Home Page Template
.caped-hero {
	background-image: url('../images/hero-image-temp@2x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 700px
}