.button {
	border: 2px solid $purple;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    font-size: 0.9375em;
    color: $purple;
}

// Mobile Menu

$animation-speed: 0.3s;

// -- MOBILE MENU -- //
.mobile-menu {
	transition: transform $animation-speed;
	
	.line-1 {
		border-top: 3px solid #000;
		display: block;
		transition: margin $animation-speed, transform $animation-speed;
		width: 50px;
	}
	
	.line-2 {
		@extend .line-1;
		margin: 10px 0;
	}
	
	.line-3 {
		@extend .line-1;
	}
	
	&.toggle {
		padding: 45px 0;
		
		.line-1 {
			transform: rotate(45deg);
		}

		.line-2 {
			margin: -3px 0;
			opacity: 0;
		}

		.line-3 {
			transform: rotate(-45deg);
		}

	}
	
}

// -- MOBILE MENU 2 -- //
.mobile-menu-2 {
	@extend .mobile-menu;
	
	&.toggle {
		transform: rotateX(180deg);
	}
	
}

// -- MOBILE MENU 3 -- //
.mobile-menu-3 {
	@extend .mobile-menu;
	
	&.toggle {
		transform: rotateY(180deg);
	}
	
}

// -- MOBILE MENU 4 -- //
.mobile-menu-4 {
	@extend .mobile-menu;
	
	&.toggle {
		transform: rotate(90deg);
	}
	
}

// -- MOBILE MENU 5 -- //
.mobile-menu-5 {
	padding: 35px 0;

	@extend .mobile-menu;
	
	&.toggle {
		transform: rotate(180deg);
	}
	
}

.mobile-menu-wrap {
	position: absolute;
	right: 20px;
	// top: 25px;
	top: -7px;
}

