h1 {
	font-family: Museo-500;
	color: $blue;
	font-size: 2em;

	@include responsive(min-width, 375px) {
	font-size: 2.5em; // 40px
	}

	@include responsive(min-width, 600px) {
	font-size: 4.375em; // Museo 70px 500 weight
	}

}

h2 {
	font-family: Museo-300Italic;
	font-size: 1.8em; // Museo 28.8px 300 weight italic
	color: $blue;

	@include responsive(min-width, 600px) {
	font-size: 2.7em; // Museo 45px 300 weight italic
	}
}

h3 {
	font-family: AvenirLTStd-Heavy;
	font-size: 1.375em; // Avenir 85 Heavy 22px
	color: $purple;
	margin-top: 8px;
}

h4 {
	font-family: AvenirLTStd-HeavyOblique;
	font-size: 1.25em; // Avenir 85 Heavy Oblique 20px
	color: $bodyCopy;
}

h5 {
	font-family: Museo-300;
	font-size: 2.25em;
	color: $grey;
}

p {
	font-family: AvenirLTStd-Book;
	font-size: 1.25em; // Avenir 45 Book 20px
	//line-height: 27px;
	color: $bodyCopy;
}

.span-red {
	font-family: Museo-700italic;
	color: $red;
	white-space: nowrap;
}

.numbers {
	font-family: Museo-700;
	font-size: 5rem;
	color: $white;
}
