body {
	font-family: AvenirLTStd-Book, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	padding-top: 60px;

	@include responsive(min-width, 600px) {
		padding-top: 90px;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
}

// No Wrap Class
.no-wrap {
	white-space: nowrap;
}

// WP-admin logged in styles
.logged-in {
	header {
		top: 31px;
	}

	#wpadminbar {
		background-color: $purple;
	}
}

// Page Loader
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/page_load_6.gif) center no-repeat #fff;
}

sup {
	vertical-align: super;
    margin: .5rem;
    font-size: 1rem;
}

.mobile {
	display: block;

	@include responsive(min-width, 600px) {
		display: none;
	}
}

.desktop {
	display: none;

	@include responsive(min-width, 600px) {
		display: block;
	}
}
