body {
	font-family: AvenirLTStd-Book, sans-serif;
	font-size: 1em;
	padding-top: 90px;
}

// WP-admin logged in styles
.logged-in {
	header {
		top: 31px;
	}

	#wpadminbar {
		background-color: $purple;
	}
}
